
.listItem{
    padding: .3rem !important;
    padding-left: 1.2rem !important;
}
.listItem div:first-child div:first-child {
   min-width: 35px !important;
}
.listItem div:first-child div:first-child svg{
width: 20px !important;
height: 20px !important;
}
.listItem div:first-child div:nth-child(2) span{
    font-family: 'Gilroy-SemiBold' !important;
    font-size: .9rem;
}
.activeListItem div:first-child > span{
    width: 12rem;
    background: rgb(0, 0, 0);
    z-index: -1;
    border-radius: 1.1rem;
}
.activeListItem  div:first-child div:nth-child(2) span{
    color: white;
}