.logo {
    width: 70%;
    font-family: Gilroy-Bold !important;
    font-size: 1.35rem !important;
    text-align: start !important;
    line-height: 1.4rem !important;
}
.logoHeader{
    padding: 1.5rem 3.5rem !important;
 }
.sidebarShadow{
    box-shadow: 10px 13px 15px rgba(0, 0, 0, 0.2) !important;
}

.head{
    box-shadow: none !important;
}
.head div:first-child{
    padding-left: 3rem;
    padding-top: .2rem;
    font-family: Gilroy-Medium;
    font-size: 1.6rem;
}
.backgroundImage{
    position: fixed;
    top: 0%;
    right: 0%;
}