.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CustomToast.css */

.custom-toast {
  background-color: #384258; /* Dark background color to match your UI */
  color: #ffffff; /* White text color */
  border-radius: 10px; /* Smooth rounded corners */
  border: 1px solid #ffffff22; /* Light border for aesthetics */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.custom-toast .Toastify__toast-icon {
  color: #eb5e4d; /* Icon color */
}

.custom-toast .Toastify__close-button {
  color: #ffffff; /* Close button color */
}


